@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500;600;700&display=swap");

.fotos {
  display: flex;
  color: #ffffff;
  font-weight: 300;
}

.acomodacoes {
  display: flex;
  align-items: center;
  height: 110px;
  padding-top: 50px;
  font-weight: 400;
  color: #9e2fba;
  background-color: #d9d9d9;
}

.localizacao {
  display: flex;
  color: #ffffff;
  font-weight: 300;
}

.avaliacoes {
  display: flex;
  color: #ffffff;
  font-weight: 300;
}

.explorar {
  display: flex;
  color: #ffffff;
  font-weight: 300;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  gap: 10px;
  padding-left: 1400px;
  padding-top: 15px;
  position: absolute;
}

.entrar {
  background-color: #ffffff;
  color: #9e2fba;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  padding-top: 4px;
  padding-left: 20px;
}

.cadastrar {
  display: flex;
  font-size: 12px;
  font-family: "Inter";
  font-weight: 600;
  background-color: #ffffff;
  color: #9e2fba;
  border-radius: 7px;
  width: 90px;
  height: 19px;
  padding-top: 2px;
  padding-left: 8px;
}

.bandeiraagora {
  display: flex;
  align-items: center;
  flex-flow: column-reverse;
  gap: 25px;
  padding-left: 1700px;
  position: absolute;
}

.reserveagora {
  color: #9e2fba;
  background-color: #ffffff;
  border-radius: 10px;
  height: 35px;
  width: 180px;
  padding-top: 6px;
  padding-left: 13px;
  font-size: 19px;
  font-family: "Inter";
  font-weight: 400;
}

.bandeira {
  display: flex;
  gap: 35px;
}

/* - Fim do cabeçalho - */
/* - Inicio do corpo - */
body {
  margin: 0%;
  background: #f3f3f3;
}

.tituloacomodacoes {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 50px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #818181;
}

.imgcamas {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-top: 60px;
  justify-content: center;
  align-items: center;
}

#img1 {
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.8;
}

#img1:hover {
  border-radius: 30px;
  transition: 0.5s;
  opacity: 1;
}

#img2 {
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.8;
}

#img2:hover {
  border-radius: 30px;
  transition: 0.5s;
  opacity: 1;
}

#img3 {
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.8;
}

#img3:hover {
  border-radius: 30px;
  transition: 0.5s;
  opacity: 1;
}

#img4 {
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.8;
}

#img4:hover {
  border-radius: 30px;
  transition: 0.5s;
  opacity: 1;
}

#img5 {
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.8;
}

#img5:hover {
  border-radius: 30px;
  transition: 0.5s;
  opacity: 1;
}

/* - Inicio Zoom dinamico - */
.imgcamas img {
  position: relative;
  display: inline-block;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.9);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.imgcamas img:hover {
  transform: scale(1.27, 1.25);
}

.imgcamas img:hover::after {
  opacity: 1;
}

/* - Fim do Zoom dinamico - */
.txtcamas {
  display: flex;
  flex-direction: row;
  font-family: "Inter";
  font-size: 15px;
  padding-top: 35px;
  text-align: center;
  color: #9e2fba;
}

.cama1 {
  padding-left: 150px;
}

.cama2 {
  padding-left: 105px;
}

.cama3 {
  padding-left: 85px;
}

.cama4 {
  padding-left: 145px;
}

.cama5 {
  padding-left: 148px;
}

.txtinfo {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  padding-top: 10px;
  justify-content: center;
  gap: 94px;
}

.txt1 {
  display: flex;
  font-family: "Inter";
  color: #818181;
  text-align: center;
}

.txt2 {
  display: flex;
  font-family: "Inter";
  color: #818181;
  text-align: center;
}

.txt3 {
  display: flex;
  font-family: "Inter";
  color: #818181;
  text-align: center;
}

.txt4 {
  display: flex;
  font-family: "Inter";
  color: #818181;
  text-align: center;
}

.txt5 {
  display: flex;
  font-family: "Inter";
  color: #818181;
  text-align: center;
}

.comodidades {
  display: flex;
  flex-direction: row;
  gap: 200px;
  padding-top: 100px;
  justify-content: center;
}

.icon1 {
  background-color: #a653bb;
  border-radius: 50%;
  padding: 1rem;
}

.txtcomodidades {
  display: flex;
  font-family: "Inter";
  color: #818181;
  gap: 160px;
  padding-top: 15px;
}

.cafe {
  display: flex;
  padding-left: 580px;
}

/* - Fim do corpo - */
/* - Começo do rodapé - */
.rodape {
  display: flex;
  background: #9e2fba;
  color: #ffffff;
  width: 100%;
  bottom: 0%;
  left: 0;
  position: fixed;
  margin-bottom: px;
  height: 90px;
}

.fb {
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
}

.ig {
  display: flex;
  padding-left: 20px;
  padding-top: 1px;
}

.booking {
  display: flex;
  padding-left: 20px;
  padding-top: 2px;
}

.sobrerodape {
  display: flex;
  flex-flow: column;
  font-size: 12px;
  justify-content: center;
  padding-left: 380px;
  padding-bottom: 10px;
}

.sobrecontato {
  display: flex;
  font-size: 22px;
  justify-content: center;
  font-weight: 300;
  padding-top: 20px;
  font-family: "Inter";
}

.direitosautorais {
  font-size: 16px;
  padding-left: 90px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  line-height: 39px;
  padding-right: 100px;
}

.wpp {
  display: flex;
  padding-left: 580px;
  justify-content: center;
}

.logorodape {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
}

.trademark {
  color: rgb(154, 180, 156);
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
}

/* - Fim do rodapé - */
