@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500;600;700&display=swap");

.fotos {
  display: flex;
  align-items: center;
  height: 110px;
  padding-top: 50px;
  font-weight: 400;
  color: #9e2fba;
  background-color: #d9d9d9;
}
.corpo {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.imagens {
  display: flex;
  padding-top: 80px;
}
.imgpequena {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img2 {
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  align-items: center;
}

.img-style {
  border-radius: 8px;
  margin-top: 2rem;
}

#trocarimg {
  margin-left: 100px;
  margin-top: 0px;
}

.fotogrande {
  display: flex;
  border-radius: 10px;
  border: black;
}
